.usertab {
    width: 181px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #12171D;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.usertab img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.usertab h1 {
    color: var(--secondary-black-tint-3, #A7B1BC);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.usertab span img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.amount {
    font-weight: 500;
    line-height: 24px;
    width: 91px;
}

.amount h1 {
    font-size: 18px !important;
    color: var(--chart-green, #00C076) !important;
}

.hour {
    width: 160px;
}

.hour__timer {
    display: flex;
    gap: 2px;
    color: var(--secondary-black-tint-3, #A7B1BC);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

.hour__figure {
    color: #FFFFFF;
    font-size: 14px;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 24px;
}

.hour__figure.main {
    color: var(--chart-green, #00C076);
}

.divider {
    width: 1px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 1px;
    opacity: 0.03999999910593033;
    background: var(--secondary-blue-tint-3, #EAF0FE);
    margin-right: 24px;
}

.divider2 {
    width: 1px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 1px;
    opacity: 0.03999999910593033;
    background: var(--secondary-blue-tint-3, #EAF0FE);
    /* margin-right: 24px; */
}

.menu {
    display: none;

}

@media screen and (max-width: 767px) {

    /* Styles for mobile devices */
    .signout {
        display: none;
    }

    .menu {
        display: block;
    }

    .hour {
        width: 120px;
    }

    .hide {
        display: none;
    }

        .usertab h1,
        .usertab span img {
            display: none;
        }
    
        .usertab {
            background: transparent;
            width: auto;
        }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles for tablets */
}